<tr>
    <td>_:_CASE-NUM_:_</td>
    <td>_:_AUTHOR_:_</td>
    <td>_:_TITLE_:_</td>
    <td>_:_FILE_:_</td>
    <td>_:_LAST-UPDATE_:_</td>
    <td>_:_STATUS_:_</td>
    <td>
        <form action="review.php" method="post" id="case-edit">
            <input type="hidden" name="review" value="_:_CASE-NUM_:_">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Actions
                </button>
                <ul class="dropdown-menu">
                    <button type="submit" class="dropdown-item btn btn-link" id="return" name="action" value="return">Return</button>
                    <button type="submit" class="dropdown-item btn btn-link" id="reject" name="action" value="reject">Reject</button>
                    <button type="submit" class="dropdown-item btn btn-link" id="accept" name="action" value="accept">Accept</button>
                </ul>
            </div>
        </form>
    </td>
</tr>