<form enctype="multipart/form-data" action="publish.php" method="post" id="user-form">
    <div class="row">
        <div class="col-6">
            <div class="mb-3">
                <label for="user-id" class="form-label">User ID</label>
                <input type="text" class="form-control" id="user-id" name="user-id" />
                <div class="form-text" id="user-id-text">
                    Please enter your user ID.
                </div>
            </div>
        </div>
        <div class="col-6">
            <label for="title" class="form-label">Project Title</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <input type="hidden" name="MAX_FILE_SIZE" value="30000" />
            <div class="mb-3">
                <label for="file" class="form-label">Choose file for upload:</label>
                <input class="form-control" type="file" id="formFile" name="formFile" />
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-2 text-center">
            <button type="submit" class="btn btn-primary" name="submission" value="1">Submit</button>
        </div>
    </div>
</form>